.ant-modal-footer {
  margin: 0 -24px -24px;
}

:host ::ng-deep i {
  font-size: 32px;
  color: #999;
}
:host ::ng-deep .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.ant-form-item{
  margin-bottom: 15px;
}
