.search-title{
  width: 80px;
}
.mt-slg{
  margin-top: 150px;
}

.data-list{
  max-height: 700px;
  overflow: auto;
  list-style: none;
  padding-left: 0;
}

.body-item{
  display: inline-block;
}

.ant-card-bordered.checked{
  border: 1px solid #1BBC9B;
}
