<form nz-form #editValForm="ngForm" (submit)="addBrand()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="brandName" nzRequired>品牌名称</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngBrandName)" nzHasFeedback>
      <input [(ngModel)]="validateForm.brandName" name="brandName" id="brandName" #ngBrandName="ngModel" type="text" required nz-input>
      <nz-form-explain *ngIf="ngValidateErrorMsg(ngBrandName) == valitateState.empty">请输入字典名称！</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="englishName">品牌英文名</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngEnglishName)" nzHasFeedback>
      <input [(ngModel)]="validateForm.englishName" name="englishName" id="englishName" #ngEnglishName="ngModel" type="text"
             nz-input>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="brandInitial">品牌首字母</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngBrandInitial)" nzHasFeedback>
      <input [(ngModel)]="validateForm.brandInitial" name="brandInitial" id="brandInitial" #ngBrandInitial="ngModel" type="text"
             nz-input>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="brandSort">排序</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngBrandSort)" nzHasFeedback>
      <input [(ngModel)]="validateForm.brandSort" name="brandSort" id="brandSort" #ngBrandSort="ngModel" type="number"
             nz-input>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">上传LOGO</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-upload
        [nzAction]="uploadUrl" nzName="limitFile"
        nzListType="picture-card"
        [(nzFileList)]="fileList"
        [nzShowButton]="fileList.length < 1"
        [nzPreview]="handlePreview"
        [nzData]="{uuid:uuid}">
        <i class="anticon anticon-plus"></i>
        <div class="ant-upload-text">上传</div>
      </nz-upload>
      <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
        <ng-template #modalContent>
          <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
        </ng-template>
      </nz-modal>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">是否推荐</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-switch name="brandRecommend" class="thc"
                 nzCheckedChildren="是" nzUnCheckedChildren="否"
                 [(ngModel)]="validateForm.brandRecommend">
      </nz-switch>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">品牌展示类型</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-radio-group name="showType" [(ngModel)]="validateForm.showType">
        <label nz-radio nzValue="IMG">图片</label>
        <label nz-radio nzValue="TXT">文字</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <div class="ant-modal-footer">
    <button nz-button class="btn" [nzType]="'ghost'" type="button" (click)="cancel()"> 取消</button>
    <button nz-button [nzType]="'primary'" type="submit"
            [nzLoading]="isConfirmLoading" [disabled]="!editValForm.valid">确定
    </button>
  </div>
</form>
