<form nz-form #bindRolesForm="ngForm">
  <nz-form-item>
    <nz-form-label [nzXs]="20" nzRequired nzFor="pwd">选择品牌</nz-form-label>
    <nz-form-control [nzXs]="20">
      <nz-select style="width: 100%" [(ngModel)]="tagHadValue" nzMode="tags" name="brand"
                 nzPlaceHolder="选择品牌">
      </nz-select>
      <div>
        <nz-tag *ngFor="let option of leftbrandList;let i = index;" (click)="onChecked(option,i)">{{option.brandName}}
          <i class="anticon anticon-plus"></i>
        </nz-tag>
      </div>
    </nz-form-control>
  </nz-form-item>
  <div class="ant-modal-footer">
    <button nz-button [nzType]="'ghost'" (click)="handleCancel()">取消</button>
    <button nz-button class="btn-thc" [nzType]="'primary'" (click)="bindBrand()" [disabled]="!bindRolesForm.valid || disabledBtn">确定</button>
  </div>
</form>
