<ng-container *ngIf="showList">
  <div class="page-title clearfix">
    <h3 class="fl">当前分类：<span class="color-orange">{{curKind.name}}</span></h3>
    <button class="fr m btn-thc" nz-button [hidden]="!curKind.name"
            [routerLink]="routerLinks.helpCenter.addQuestion"
            [queryParams]="{kindId: curKind.id,kindName:curKind.name}">
      <i class="anticon anticon-plus"></i><span>新增问题</span>
    </button>
  </div>
  <!--搜索 start-->
  <form nz-form class="bg-white mt-15 mb-15" (submit)="getHelpAnswerList(1)">
    <div class="search-group">
      <span class="search-title">问题：</span>
      <div class="search-main">
        <input nz-input name="question"
               [(ngModel)]="query.question"
               placeholder="问题">
      </div>
    </div>
    <div class="inline-block">
      <button nz-button class="ml-20 mr" [nzType]="'primary'" type="submit" title="搜索">
        <i class="anticon anticon-search"></i><span>搜索</span>
      </button>
      <button nz-button class="mr" title="重置" type="reset" (click)="resetSearch()">
        <i class="anticon anticon-sync"></i><span>重置</span>
      </button>
    </div>
  </form>
  <!--搜索 end-->

  <nz-table #nzTable
            [nzData]="helpAnswerList.voList"
            [nzLoading]="_loading"
            [nzFrontPagination]="false"
            [nzPageSize]="helpAnswerList.pageSize"
            [nzTotal]="helpAnswerList.totalRow"
            [nzPageIndex]="helpAnswerList.curPage"
            (nzPageIndexChange)="getHelpAnswerList($event)">
    <thead nz-thead>
    <tr>
      <th nz-th class="text-center" nzWidth="10%"><span>序号</span></th>
      <th nz-th class="text-left" nzWidth="35%"><span>问题</span></th>
      <th nz-th class="text-center" nzWidth="15%"><span>状态</span></th>
      <th nz-th class="text-center" nzWidth="10%"><span>排序</span></th>
      <th nz-th class="text-center" nzWidth="15%"><span>创建时间</span></th>
      <th nz-th class="text-center" nzWidth="15%"><span>操作</span></th>
    </tr>
    </thead>
    <tbody nz-tbody>
    <ng-template ngFor let-data [ngForOf]="nzTable.data" let-i="index">
      <tr nz-tbody-tr>
        <td nz-td class="text-center">{{i+1}}</td>
        <td nz-td class="text-left">{{data.question}}</td>
        <td nz-td class="text-center">
          <nz-switch class="thc" [ngModel]="data.state === enumState.showState.show"
                     nzCheckedChildren="是" nzUnCheckedChildren="否" [ngModelOptions]="{standalone: true}"
                     (ngModelChange)="changeIsEnable(data.id, $event)">
          </nz-switch>
        </td>
        <td nz-td class="text-center">{{data.sort}}</td>
        <td nz-td class="text-center w10">{{data.createTime | date:'yyyy-MM-dd'}}</td>
        <td nz-td class="text-center w10">
          <button nz-button title="修改" class="btn-blue" [routerLink]="routerLinks.helpCenter.upQuestion"
                  [queryParams]="{id: data.id,kindName:curKind.name}">
            <i class="anticon anticon-edit"></i>
          </button>
          <nz-popconfirm nzTitle="确定要删除该问题吗？" nzPlacement="top" (nzOnConfirm)="delQuestion(data.id)">
            <button nz-popconfirm nz-button title="删除" class="btn-danger">
              <i class="iconfont icon-shanchu"></i>
            </button>
          </nz-popconfirm>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>

</ng-container>

<router-outlet (activate)="activate($event)" (deactivate)="onDeactivate($event)"></router-outlet>

