<button nz-button [nzType]="'danger'" [nzShape]="'circle'" class="page-back" routerLink="../" title="返回">
  <i class="anticon anticon-rollback font20"></i>
</button>
<div class="page-title clearfix">
  <h3 class="fl">当前分类：<span class="color-orange">{{kindName}}</span></h3>
</div>
<form class="absolute w100 mt-30" nz-form #editValForm="ngForm" (submit)="addQuestion()">
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="question" nzRequired>问题</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngQuestion)" nzHasFeedback>
      <input [(ngModel)]="validateForm.question" name="question" id="question" #ngQuestion="ngModel" type="text"
             required nz-input>
      <nz-form-explain *ngIf="ngValidateErrorMsg(ngQuestion) == valitateState.empty">请输入问题名称！</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="answer" nzRequired>答案</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngAnswer)">
      <ckeditor name="answer" required [(ngModel)]="validateForm.answer" #ngAnswer="ngModel" id="answer"></ckeditor>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="sort" nzRequired>排序</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngSort)" nzHasFeedback>
      <input [(ngModel)]="validateForm.sort" name="sort" id="sort" #ngSort="ngModel" type="number"
             required nz-input>
    </nz-form-control>
  </nz-form-item>
  <div class="text-center">
    <button nz-button type="button" routerLink="../">取消</button>
    <button nz-button [nzType]="'primary'" [nzLoading]="isConfirmLoading" type="submit" [disabled]="!editValForm.valid">确定</button>
  </div>
</form>
