<div class="page-title">
  <h3 class="fl">品牌管理</h3>
  <button class="fr m btn-thc" nz-button (click)="addBrand()">
    <i class="anticon anticon-plus"></i><span>新增品牌</span>
  </button>
</div>

<!--搜索 start-->
<form nz-form class="bg-white mt-15 mb-15" (submit)="getBrandsList(1)">
  <!--<div class="search-group">
    <span class="search-title">分类：</span>
    <div class="search-main">
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="query.id">
        <nz-option  *ngFor="let kind of kindList" [nzLabel]="kind.kindName" [nzValue]="kind.id"></nz-option>
      </nz-select>
    </div>
  </div>-->
  <div class="search-group">
    <span class="search-title">首字母：</span>
    <div class="search-main">
      <input nz-input name="brandInitial"
             [(ngModel)]="query.brandInitial"
             placeholder="首字母">
    </div>
  </div>
  <div class="search-group">
    <span class="search-title">品牌：</span>
    <div class="search-main">
      <input nz-input name="brandName"
             [(ngModel)]="query.brandName"
             placeholder="品牌">
    </div>
  </div>
  <div class="inline-block">
    <button nz-button class="ml-20 mr" [nzType]="'primary'" title="搜索" type="submit">
      <i class="anticon anticon-search"></i><span>搜索</span>
    </button>
    <button nz-button class="mr" title="重置" type="reset">
      <i class="anticon anticon-sync"></i><span>重置</span>
    </button>
  </div>
</form>
<!--搜索 end-->

<nz-table #nzTable
          [nzData]="brandList.voList"
          [nzLoading]="_loading"
          [nzFrontPagination]="false"
          [nzPageSize]="brandList.pageSize"
          [nzTotal]="brandList.totalRow"
          [nzPageIndex]="brandList.curPage"
          (nzPageIndexChange)="getBrandsList($event)">
  <thead nz-thead>
  <tr>
    <th nz-th class="text-center" nzWidth="5%"><span>序号</span></th>
    <th nz-th class="text-center" nzWidth="5%"><span>首字母</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>英文名</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>中文名</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>LOGO</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>是否推荐</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>展示类型</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>排序</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>是否显示</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <ng-template ngFor let-data [ngForOf]="nzTable.data" let-i="index">
    <tr nz-tbody-tr>
      <td nz-td class="text-center">{{i+1}}</td>
      <td nz-td class="text-center">{{data.brandInitial}}</td>
      <td nz-td class="text-center">{{data.englishName || '未填写'}}</td>
      <td nz-td class="text-center">{{data.brandName}}</td>
      <td nz-td class="text-center">
        <nz-popover [nzTrigger]="'click'">
          <img [src]="data.brandPic | imgSize :'50'" width="50" appImgErr title="点击查看大图" nz-popover>
          <ng-template #nzTemplate>
            <img [src]="data.brandPic | imgSize :'200'" appImgErr>
          </ng-template>
        </nz-popover>
      </td>
      <td nz-td class="text-center">
        <nz-switch class="thc" [ngModel]="data.brandRecommend === enumState.yes" [ngModelOptions]="{standalone: true}"
                   nzCheckedChildren="是" nzUnCheckedChildren="否"
                   (ngModelChange)="changeIsRecommend(data.id, $event)">
        </nz-switch>
      </td>
      <td nz-td class="text-center">{{data.showType}}</td>
      <td nz-td class="text-center">{{data.brandSort}}</td>
      <td nz-td class="text-center">
        <nz-switch class="thc" [ngModel]="data.state === enumState.showState.show" [ngModelOptions]="{standalone: true}"
                   nzCheckedChildren="是" nzUnCheckedChildren="否"
                   (ngModelChange)="changeIsEnable(data.id, $event)">
        </nz-switch>
      </td>
      <td nz-td class="text-center w10">
        <button nz-button title="修改" class="btn-blue"
                (click)="upBrand(data.id)">
          <i class="anticon anticon-edit"></i>
        </button>
        <button nz-button title="删除" class="btn-danger" (click)="delBrand(data.id)">
          <i class="iconfont icon-shanchu"></i>
        </button>
      </td>
    </tr>
  </ng-template>
  </tbody>
</nz-table>
