<ng-container *ngIf="showList">
  <!--页面提示 start-->
  <div class="page-msg">
    <p class="title">标题</p>
    <ul>
      <li>方法</li>
    </ul>
  </div>
  <!--页面提示 end-->


  <!--搜索 start-->
  <form nz-form class="bg-white mt-15 mb-15">
    <div class="search-group mb">
      <span class="search-title">用户名：</span>
      <div class="search-main">
        <input nz-input name="custName"
                  [(ngModel)]="query.custName"
                  placeholder="用户名"
                  (change)="queryAllUsers(1)">
      </div>
    </div>
    <div class="inline-block">
      <button nz-button class="ml-20 mr" title="搜索" (click)="queryAllUsers(1)">
        <i class="anticon anticon-search"></i><span>搜索</span>
      </button>
      <button nz-button [nzType]="'primary'" class="mr" title="重置"
              (click)="resetSearch()">
        <i class="anticon anticon-sync"></i><span>重置</span>
      </button>
    </div>
  </form>
  <!--搜索 end-->


  <!--用户列表 start-->
  <nz-table #nzTable
            [nzData]="allUsers.voList"
            [nzLoading]="_loading"
            [nzFrontPagination]="false"
            [nzPageSize]="allUsers.pageSize"
            [nzTotal]="allUsers.totalRow"
            [nzPageIndex]="allUsers.curPage"
            (nzPageIndexChange)="queryAllUsers($event)">
    <thead nz-thead>
    <tr>
      <th nz-th class="text-center w5"><span>序号</span></th>
      <th nz-th class="text-center w8"><span>会员名称</span></th>
      <th nz-th class="text-center w8"><span>手机号</span></th>
      <th nz-th class="text-center w8"><span>头像</span></th>
      <th nz-th class="text-center w8"><span>性别</span></th>
      <th nz-th class="text-center w8"><span>算力</span></th>
      <th nz-th class="text-center w8"><span>糖果</span></th>
      <th nz-th class="text-center w8"><span>积分</span></th>
      <th nz-th class="text-center w8"><span>推广的人数</span></th>
      <th nz-th class="text-center w8"><span>认证状态</span></th>
      <th nz-th class="text-center w8"><span>账户状态</span></th>
      <th nz-th class="text-center w15"><span>管理</span></th>
    </tr>
    </thead>
    <tbody nz-tbody>
    <ng-template ngFor let-data [ngForOf]="nzTable.data" let-i="index">
      <tr nz-tbody-tr>
        <td nz-td class="text-center w5">{{i+1}}</td>
        <td nz-td class="text-center w8">{{data.custName}}</td>
        <td nz-td class="text-center w8">{{data.custPhone}}</td>
        <td nz-td class="text-center w8">
          <nz-popover [nzTrigger]="'click'">
            <img [src]="data.custAvatar | imgSize :'50'" width="50" appImgErr title="点击查看大图" nz-popover>
            <ng-template #nzTemplate>
              <img [src]="data.custAvatar | imgSize :'200'" appImgErr>
            </ng-template>
          </nz-popover>
        </td>
        <td nz-td class="text-center w8">{{data.custSex}}</td>
        <td nz-td class="text-center w8">{{data.factor}}
          <a *ngIf="data.factor && data.factor>0" (click)="showFactorDetail(data.custCode,data.custName)"><i
            class="anticon anticon-info-circle color-purple" title="看明细"></i></a>
        </td>
        <td nz-td class="text-center w8">{{data.balance}}
          <a *ngIf="data.balance && data.balance>0" (click)="showCandyDetail(data.custCode,data.custName)"><i
            class="anticon anticon-info-circle color-pink"
            title="看明细"></i></a>
        </td>
        <td nz-td class="text-center w8">{{data.custPoints}}</td>
        <td nz-td class="text-center w8">{{data.userSpreadNum}}
          <a *ngIf="data.userSpreadNum && data.userSpreadNum>0" (click)="showSpreadCustDetail(data.custCode,data.custName)"><i
            class="anticon anticon-info-circle color-cyan"
            title="看明细"></i></a>
        </td>
        <td nz-td class="text-center w8">{{data.authState}}</td>
        <td nz-td class="text-center w8">{{data.state}}</td>
        <td nz-td class="text-center w15">
          <nz-popconfirm *ngIf="data.state===enumState.custState.normal" [nzPlacement]="'top'"
                         [nzTitle]="pageMsg.user.freeze"
                         (nzOnConfirm)="changeState(enumState.custState.freeze,data.custCode)">
            <button nz-popconfirm nz-button title="冻结" class="btn-blue">
              <i class="iconfont icon-dongjie"></i>
            </button>
          </nz-popconfirm>
          <nz-popconfirm *ngIf="data.state===enumState.custState.freeze" [nzPlacement]="'top'"
                         [nzTitle]="pageMsg.user.unfreeze"
                         (nzOnConfirm)="changeState(enumState.custState.normal,data.custCode)">
            <button nz-popconfirm nz-button title="解冻" class="btn-warning">
              <i class="iconfont icon-jiedong"></i>
            </button>
          </nz-popconfirm>
          <button *ngIf="data.state===enumState.custAuthState.audit" nz-button title="审核" class="btn-purple"
                  (click)="audit(data.custCode)">
            <i class="iconfont icon-shenhe"></i>
          </button>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>
  <!--用户列表 start-->
</ng-container>
