<nz-card>
  <div nz-row>
    <div nz-col nzSpan="12" class="font16">结算金额：￥{{data.settleMoney | number}}</div>
    <div nz-col nzSpan="12" class="font16">收款银行：{{data.bank}}</div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12" class="font16">收款账号：{{data.acct}}</div>
    <div nz-col nzSpan="12" class="font16">收款人姓名：{{data.bacctName}}</div>
  </div>
</nz-card>
<form nz-form #editTypeForm="ngForm" class="mt-15">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bank" nzRequired>汇款银行</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngNormName)" nzHasFeedback>
      <input [(ngModel)]="validateForm.bank" name="bank" id="bank" #ngNormName="ngModel" required type="text" placeholder="请输入汇款银行名称" nz-input>
      <nz-form-explain *ngIf="ngValidateErrorMsg(ngNormName) == valitateState.empty">请输入汇款银行名称！</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="acct" nzRequired>汇款账号</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngTplDesc)" nzHasFeedback>
      <input name="acct" [(ngModel)]="validateForm.acct" #ngTplDesc="ngModel" type="text" id="acct" required placeholder="请输入汇款账号" nz-input>
      <nz-form-explain *ngIf="ngValidateErrorMsg(ngTplDesc) == valitateState.empty">请输入汇款账号</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="bacctName" nzRequired>汇款账号户主</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngTplDesc)" nzHasFeedback>
      <input name="bacctName" [(ngModel)]="validateForm.bacctName" #ngTplDesc="ngModel" type="text" id="bacctName" required placeholder="请输入汇款账号户主" nz-input>
      <nz-form-explain *ngIf="ngValidateErrorMsg(ngTplDesc) == valitateState.empty">请输入汇款账号户主</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">汇款凭证</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-upload
        [nzAction]="uploadUrl" nzName="limitFile"
        nzListType="picture-card"
        [(nzFileList)]="fileList"
        [nzShowButton]="fileList.length < 3"
        [nzPreview]="handlePreview"
        [nzData]="{bucketNameEnum:bucketNameEnum}">
        <i class="anticon anticon-plus"></i>
        <div class="ant-upload-text">上传</div>
      </nz-upload>
      <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
        <ng-template #modalContent>
          <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }"/>
        </ng-template>
      </nz-modal>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark">汇款备注</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea nz-input row="4" name="remark" [(ngModel)]="validateForm.remark" type="text" id="remark" placeholder="请输入汇款备注"></textarea>
    </nz-form-control>
  </nz-form-item>
  <div class="ant-modal-footer">
    <button nz-button class="btn" [nzType]="'ghost'" (click)="closeWin()"> 取消</button>
    <button nz-button class="btn" [nzType]="'primary'" (click)="addVou()"
            [nzLoading]="isConfirmLoading" [disabled]="!editTypeForm.valid">确定
    </button>
  </div>
</form>
