<form nz-form #editTypeForm="ngForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="kind" nzRequired>选择产品分类</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngNormKind)" nzHasFeedback>
      <nz-cascader name="kind" #ngNormKind="ngModel" id="kind"
        [(ngModel)]="validateForm.kindId3"
        [nzLoadData]="loadData">
      </nz-cascader>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="normName" nzRequired>标准名称</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngNormName)" nzHasFeedback>
      <input [(ngModel)]="validateForm.normName" name="normName" id="normName" #ngNormName="ngModel" required type="text" nz-input>
      <nz-form-explain *ngIf="ngValidateErrorMsg(ngNormName) == valitateState.empty">请输入标准名称！</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tplDesc" nzRequired>模板说明</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngTplDesc)" nzHasFeedback>
      <input name="tplDesc" [(ngModel)]="validateForm.tplDesc" #ngTplDesc="ngModel" type="text" id="tplDesc" required nz-input>
      <nz-form-explain *ngIf="ngValidateErrorMsg(ngTplDesc) == valitateState.empty">请输入模板说明</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="ord">排序</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngOrd)" nzHasFeedback>
      <input name="ord" [(ngModel)]="validateForm.ord" #ngOrd="ngModel" type="number" id="ord"
             nz-input>
      <nz-form-explain *ngIf="ngValidateErrorMsg(ngOrd) == valitateState.empty">请输入数字</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <div class="ant-modal-footer">
    <button nz-button class="btn" [nzType]="'ghost'" (click)="cancel()"> 取消</button>
    <button nz-button class="btn" [nzType]="'primary'" (click)="addNorm()"
            [nzLoading]="isConfirmLoading" [disabled]="!editTypeForm.valid">确定
    </button>
  </div>
</form>
