<button nz-button [nzType]="'danger'" [nzShape]="'circle'" class="page-back" (click)="back()" title="返回">
  <i class="anticon anticon-rollback font20"></i>
</button>

<form nz-form class="p-20" #announceEditForm="ngForm">
  <div class="fieldset">
    <div class="legend bb">公告详情</div>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="24">标题</nz-form-label>
      <nz-form-control [nzMd]="16" [nzSm]="24" nzHasFeedback>{{validateForm.title}}</nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="24">内容</nz-form-label>
      <nz-col [nzMd]="16" [nzSm]="24">
        <div class="w100">
          <ckeditor class="editor" name="content" [(ngModel)]="validateForm.content" [readonly]="true"></ckeditor>
        </div>
      </nz-col>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="24">状态</nz-form-label>
      <nz-form-control [nzMd]="16" [nzSm]="24">{{validateForm.state}}</nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzSm]="24">是否置顶</nz-form-label>
      <nz-form-control [nzMd]="16" [nzSm]="24">{{validateForm.isTop}}</nz-form-control>
    </nz-form-item>
  </div>
</form>
