<div class="page-title">区域管理</div>

<!--面包屑 start-->
<div class="font15 mt mb pl ant-breadcrumb">
  <i class="anticon anticon-home font18 color-green"></i>
  <a class="cursor" (click)="queryChildAreaList()">区域管理</a>
  <ng-container *ngFor="let menuTit of childList">
    <i class="anticon anticon-right pl-5 pr-5"></i>
    <a class="cursor" (click)="queryChildAreaList(menuTit.id,menuTit.name,true)">{{menuTit.name}}</a>
  </ng-container>
  <button nz-button *ngIf="childList.length>0" (click)="goBackMenu()" class="btn ml" nzType="default"
          nzSize="small">
    <i class="anticon anticon-rollback"></i>上一级
  </button>
</div>
<!--面包屑 end-->

<nz-table #nzTable [nzData]="areaList"
          [nzLoading]="_loading">
  <thead nz-thead>
  <tr>
    <th nz-th class="text-center" nzWidth="10%"><span>序号</span></th>
    <th nz-th class="text-center" nzWidth="20%"><span>地区编码</span></th>
    <th nz-th class="text-center" nzWidth="20%"><span>地区名称</span></th>
    <th nz-th class="text-center" nzWidth="20%"><span>层级</span></th>
    <th nz-th class="text-center" nzWidth="20%"><span>操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <ng-template ngFor let-data [ngForOf]="nzTable.data" let-i="index">
    <tr nz-tbody-tr>
      <td nz-td class="text-center">{{i+1}}</td>
      <td nz-td class="text-center">{{data.areaCode}}</td>
      <td nz-td class="text-center">{{data.areaName}}</td>
      <td nz-td class="text-center">{{data.level}}</td>
      <td nz-td class="text-center">
        <button nz-button title="查看子菜单" class="btn-purple" *ngIf="data.level < 3"
                (click)="queryChildAreaList(data.areaCode,data.areaName,false)">
          <i class="anticon anticon-arrow-down"></i>
        </button>
      </td>
    </tr>
  </ng-template>
  </tbody>
</nz-table>
