<div class="page-title">
  <h3>企业管理</h3>
</div>

<!--搜索 start-->
<form nz-form class="bg-white mt-15 mb-15" (submit)="queryCustList(1)">
  <div class="search-group">
    <span class="search-title">企业名称：</span>
    <div class="search-main">
      <input nz-input name="custName" [(ngModel)]="searchParams.epName" placeholder="企业名称">
    </div>
  </div>
  <div class="search-group">
    <span class="search-title">手机号：</span>
    <div class="search-main">
      <input nz-input name="custPhone" [(ngModel)]="searchParams.phone" placeholder="手机号">
    </div>
  </div>
  <div class="search-group">
    <span class="search-title">认证状态：</span>
    <div class="search-main">
      <nz-select style="width: 200px;" [(ngModel)]="searchParams.authState" name="authState">
        <nz-option *ngFor="let option of authEnums" [nzLabel]="option.val" [nzValue]="option.key"></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="search-group">
    <span class="search-title">企业状态：</span>
    <div class="search-main">
      <nz-select style="width: 200px;" [(ngModel)]="searchParams.state" name="state">
        <nz-option *ngFor="let option of stateEnums" [nzLabel]="option.val" [nzValue]="option.key"></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="inline-block">
    <button nz-button class="ml-20 mr" [nzType]="'primary'" title="搜索" type="submit">
      <i class="anticon anticon-search"></i><span>搜索</span>
    </button>
    <button nz-button class="mr" title="重置" type="reset" (click)="resetSearch()">
      <i class="anticon anticon-sync"></i><span>重置</span>
    </button>
  </div>
</form>
<!--搜索 end-->

<nz-table #nzTable
          [nzData]="page.voList"
          [nzLoading]="_loading"
          [nzFrontPagination]="false"
          [nzPageSize]="page.pageSize"
          [nzTotal]="page.totalRow"
          [nzPageIndex]="page.curPage"
          (nzPageIndexChange)="queryCustList($event)">
  <thead nz-thead>
  <tr>
    <th nz-th class="text-center" nzWidth="5%"><span>序号</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>企业名称</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>手机号</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>头像</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>所在区域</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>认证状态</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>状态</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>创建时间</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <ng-template ngFor let-data [ngForOf]="nzTable.data" let-i="index">
    <tr nz-tbody-tr>
      <td nz-td class="text-center">{{i+1}}</td>
      <td nz-td class="text-center">{{data.epName}}</td>
      <td nz-td class="text-center">{{data.phone}}</td>
      <td nz-td class="text-center">
        <nz-popover [nzTrigger]="'click'">
          <img [src]="data.avatar | imgSize :'50'" width="50" appImgErr title="点击查看大图" nz-popover>
          <ng-template #nzTemplate>
            <img [src]="data.avatar | imgSize :'200'" appImgErr>
          </ng-template>
        </nz-popover>
      </td>
      <td nz-td class="text-center">{{data.areaFullName || '未填写'}}</td>
      <td nz-td class="text-center">{{data.state | stateName: enums.enterpriseState}}</td>
      <td nz-td class="text-center">{{data.state | stateName: enums.enterpriseJoinState}}</td>
      <td nz-td class="text-center">{{data.createTime }}</td>
      <td nz-td class="text-center w10">
        <!--<nz-popconfirm nzTitle="确定要冻结此企业吗？" nzPlacement="top" (nzOnConfirm)="freezeCust(data.custCode)">-->
          <!--<button nz-popconfirm nz-button title="冻结" class="btn-blue" *ngIf="data.state==enterpriseState.normal">-->
            <!--<i class="anticon anticon-pause-circle-o"></i>-->
          <!--</button>-->
        <!--</nz-popconfirm>-->

        <!--<nz-popconfirm nzTitle="确定要激活此企业吗？" nzPlacement="top" (nzOnConfirm)="activeCust(data.custCode)">-->
          <!--<button nz-popconfirm nz-button title="激活" class="btn-green" *ngIf="data.state==enterpriseState.freeze">-->
            <!--<i class="anticon anticon-play-circle"></i>-->
          <!--</button>-->
        <!--</nz-popconfirm>-->
        <!--<nz-popconfirm nzTitle="确定要删除此企业吗？" nzPlacement="top" (nzOnConfirm)="delCust(data.custCode)">-->
          <!--<button nz-popconfirm nz-button title="删除" class="btn-danger" *ngIf="data.state==enterpriseState.freeze">-->
            <!--<i class="iconfont icon-shanchu"></i>-->
          <!--</button>-->
        <!--</nz-popconfirm>-->
      </td>
    </tr>
  </ng-template>
  </tbody>
</nz-table>
