<div nz-row>
  <div nz-col [nzSpan]="6" class="pr">
    <div class="mb page-title">
      <h3 class="fl">帮助分类</h3>
      <button class="fr m btn-thc" nz-button
              (click)="showModalForTemplate('add',typeTitle,typeContent,typeFooter)">
        <i class="anticon anticon-plus"></i><span>添加分类</span>
      </button>
    </div>
    <ng-container *ngIf="helpKindList.voList.length > 0">
      <ul class="data-list pr">
        <li class="data-item none mb-20" *ngFor="let data of helpKindList.voList;let i=index">
          <nz-card class="w100" [ngClass]="{'checked': curKind.id === data.id}"
                   [nzActions]="[actionSetting,actionEdit,actionDel,actionEllipsis]">
            <nz-card-meta [nzTitle]="data.kindName" [nzDescription]="data.description"></nz-card-meta>
          </nz-card>
          <ng-template #actionSetting>
            <nz-switch class="thc" [ngModel]="data.state === enumState.showState.show"
                       [ngModelOptions]="{standalone: true}" title="是否显示"
                       nzCheckedChildren="显示" nzUnCheckedChildren="隐藏"
                       (ngModelChange)="changeIsEnable(data.id, $event)">
            </nz-switch>
          </ng-template>
          <ng-template #actionEdit>
            <i class="anticon anticon-edit" title="修改"
               (click)="showModalForTemplate('up',typeTitle,typeContent,typeFooter,data.id)"></i>
          </ng-template>
          <ng-template #actionDel>
            <nz-popconfirm nzTitle="确定要删除该分类吗？" nzPlacement="top" (nzOnConfirm)="delKind(data.id)">
              <i class="iconfont icon-shanchu color-red" title="删除" nz-popconfirm></i>
            </nz-popconfirm>
          </ng-template>
          <ng-template #actionEllipsis>
            <i class="anticon anticon-eye-o color-green" title="查看" (click)="setCurType(data)"></i>
          </ng-template>
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="helpKindList.voList.length == 0">
      <div class="ant-table-placeholder"><span class="ng-star-inserted">暂无数据</span></div>
    </ng-container>
  </div>

  <div nz-col [nzSpan]="1" class="text-center">
    <i class="anticon anticon-caret-right mt-slg color-red"></i>
  </div>


  <!--数据字典信息 start-->
  <div nz-col [nzSpan]="17" class="pl">
    <app-help-answer [curKind]="curKind"></app-help-answer>
  </div>
  <!--数据字典信息 end-->
</div>

<!--弹窗—添加/修改类型 start-->
<form nz-form #editTypeForm="ngForm">
  <ng-template #typeTitle>
    <span>{{helpKindEditTitle}}</span>
  </ng-template>
  <ng-template #typeContent>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="kindName" nzRequired>名称</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngKindName)" nzHasFeedback>
        <input [(ngModel)]="validateForm.kindName" name="kindName" id="kindName" #ngKindName="ngModel" required type="text" nz-input>
        <nz-form-explain *ngIf="ngValidateErrorMsg(ngKindName) == valitateState.empty">请输入类型名称！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description">描述</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngDescription)" nzHasFeedback>
        <input name="description" [(ngModel)]="validateForm.description" #ngDescription="ngModel" type="text" id="description"
               nz-input>
        <nz-form-explain *ngIf="ngValidateErrorMsg(ngDescription) == valitateState.empty">请描述这个分类</nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sort" nzRequired>排序</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="ngValidateStatus(ngSort)" nzHasFeedback>
        <input name="sort" [(ngModel)]="validateForm.sort" #ngSort="ngModel" type="number" id="sort" required
               nz-input>
        <nz-form-explain *ngIf="ngValidateErrorMsg(ngSort) == valitateState.empty">请输入数字</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </ng-template>
  <ng-template #typeFooter>
    <div>
      <button nz-button class="btn" [nzType]="'ghost'" (click)="handleCancel()"> 取消
      </button>
      <button nz-button class="btn" [nzType]="'primary'" (click)="handleOk()"
              [nzLoading]="isConfirmLoading" [disabled]="!editTypeForm.valid">
        确定
      </button>
    </div>
  </ng-template>
</form>
<!--弹窗—添加/修改类型 end-->
