<button nz-button [nzType]="'danger'" [nzShape]="'circle'" class="page-back" (click)="back()" title="返回" *ngIf="isShowAddBtn">
  <i class="anticon anticon-rollback font20"></i>
</button>

<div class="page-title clearfix">
  <h3 class="fl">当前分类：<span class="color-orange">{{curNorm.normName}}</span></h3>
  <button class="fr m btn-thc" nz-button *ngIf="isShowAddBtn"
          [routerLink]="routerLinks.norm.paramAdd"
          [queryParams]="{normName: curNorm.normName,normCode: curNorm.normCode}">
    <i class="anticon anticon-plus"></i><span>新增参数</span>
  </button>
</div>

<!--路由嵌套 begin-->
<router-outlet (activate)="activate($event)" (deactivate)='onDeactivate($event)'></router-outlet>
<!--路由嵌套 end-->

<nz-table #nzTable nzTitle="参数列表"
          [nzData]="normParamList"
          [nzLoading]="_loading"
          [nzFrontPagination]="false"
          [nzShowPagination]="false">
  <thead nz-thead>
  <tr>
    <th nz-th class="text-center" nzWidth="6%"><span>排序</span></th>
    <th nz-th class="text-center" nzWidth="8%"><span>参数名</span></th>
    <th nz-th class="text-center" nzWidth="6%"><span>需求标准值</span></th>
    <th nz-th class="text-center" nzWidth="6%"><span>单位</span></th>
    <th nz-th class="text-center" nzWidth="8%"><span>参数说明</span></th>
    <th nz-th class="text-center" nzWidth="8%"><span>参数因子</span></th>
    <th nz-th class="text-center" nzWidth="8%"><span>参数溢价因子</span></th>
    <th nz-th class="text-center" nzWidth="8%"><span>参数权重</span></th>
    <th nz-th class="text-center" nzWidth="8%"><span>可允许最大差值</span></th>
    <th nz-th class="text-center" nzWidth="8%"><span>是否强制</span></th>
    <th nz-th class="text-center" nzWidth="6%"><span>是否使用</span></th>
    <th nz-th class="text-center" nzWidth="6%"><span>是否必填</span></th>
    <th nz-th class="text-center" nzWidth="15%"><span>操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <ng-template ngFor let-data [ngForOf]="nzTable.data" let-i="index">
    <tr nz-tbody-tr>
      <td nz-td class="text-center">
        <ng-container *ngIf="!editCache[data.id].edit">
          {{data.ord}}
        </ng-container>
        <ng-container *ngIf="editCache[data.id].edit">
          <input type="number" nz-input [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="editCache[data.id].data.ord" required
                 placeholder="排序" title="排序序列号">
        </ng-container>
      </td>
      <td nz-td class="text-center">
        <ng-container *ngIf="!editCache[data.id].edit">
          {{data.paramName}}
        </ng-container>
        <ng-container *ngIf="editCache[data.id].edit">
          <input type="text" nz-input [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="editCache[data.id].data.paramName" required
                 placeholder="参数名">
        </ng-container>
      </td>
      <td nz-td class="text-center">
        <ng-container *ngIf="!editCache[data.id].edit">
          {{data.standardVal}}
        </ng-container>
        <ng-container *ngIf="editCache[data.id].edit">
          <input type="number" nz-input [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="editCache[data.id].data.standardVal" required
                 placeholder="需求标准值">
        </ng-container>
      </td>
      <td nz-td class="text-center">
        <ng-container *ngIf="!editCache[data.id].edit">
          {{data.unit}}
        </ng-container>
        <ng-container *ngIf="editCache[data.id].edit">
          <input type="text" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="editCache[data.id].data.unit"
                 required
                 placeholder="单位">
        </ng-container>
      </td>
      <td nz-td class="text-center">
        <ng-container *ngIf="!editCache[data.id].edit">
          {{data.paramDesc}}
        </ng-container>
        <ng-container *ngIf="editCache[data.id].edit">
          <input type="text" nz-input [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="editCache[data.id].data.paramDesc"
                 placeholder="参数说明">
        </ng-container>
      </td>
      <td nz-td class="text-center">
        <ng-container *ngIf="!editCache[data.id].edit">
          {{data.paramFactor}}
        </ng-container>
        <ng-container *ngIf="editCache[data.id].edit">
          <input type="number" nz-input [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="editCache[data.id].data.paramFactor" required
                 placeholder="0/1,参数因子" title="1 代表参数越大越好；0代表参数越小越好">
        </ng-container>
      </td>
      <td nz-td class="text-center">
        <ng-container *ngIf="!editCache[data.id].edit">
          {{data.redundancyQualityFactor}}
        </ng-container>
        <ng-container *ngIf="editCache[data.id].edit">
          <input type="number" nz-input [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="editCache[data.id].data.redundancyQualityFactor" required
                 placeholder="参数溢价因子" title="因子越大，溢价能产生的分数越高">
        </ng-container>
      </td>
      <td nz-td class="text-center">
        <ng-container *ngIf="!editCache[data.id].edit">
          {{data.weight}}
        </ng-container>
        <ng-container *ngIf="editCache[data.id].edit">
          <input type="number" nz-input [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="editCache[data.id].data.weight" required
                 placeholder="参数权重" title="参数权重">
        </ng-container>
      </td>
      <td nz-td class="text-center">
        <ng-container *ngIf="!editCache[data.id].edit">
          {{data.allowDifference}}
        </ng-container>
        <ng-container *ngIf="editCache[data.id].edit">
          <input type="number" nz-input [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="editCache[data.id].data.allowDifference"
                 placeholder="可允许最大差值" title="参数差值一旦超过此值，则认为不合格">
        </ng-container>
      </td>
      <td nz-td class="text-center">
        <nz-switch class="thc" [(ngModel)]="data.isNecessary" (ngModelChange)="upState(data.paramCode,$event,'isNecessary')"
                   nzCheckedChildren="是" nzUnCheckedChildren="否" [ngModelOptions]="{standalone: true}">
        </nz-switch>
      </td>
      <td nz-td class="text-center">
        <nz-switch class="thc" [(ngModel)]="data.isRequired" (ngModelChange)="upState(data.paramCode,$event,'isRequired')"
                   nzCheckedChildren="是" nzUnCheckedChildren="否" [ngModelOptions]="{standalone: true}">
        </nz-switch>
      </td>
      <td nz-td class="text-center">
        <nz-switch class="thc" [(ngModel)]="data.isUse" (ngModelChange)="upState(data.paramCode,$event,'isUse')"
                   nzCheckedChildren="是" nzUnCheckedChildren="否" [ngModelOptions]="{standalone: true}">
        </nz-switch>
      </td>
      <td nz-td class="text-center w10">
        <ng-container *ngIf="!editCache[data.id].edit">
          <button nz-button title="修改" class="btn-blue" (click)="startEdit(data.id)">
            <i class="anticon anticon-edit"></i>
          </button>
        </ng-container>
        <ng-container *ngIf="editCache[data.id].edit">
          <button nz-button title="保存" class="btn-green" (click)="saveEdit(data.id)">
            <i class="anticon anticon-check"></i>
          </button>
          <nz-popconfirm [nzTitle]="'确定取消修改吗?'" (nzOnConfirm)="cancelEdit(data.id)">
            <button nz-popconfirm nz-button title="取消" class="btn-warning">
              <i class="anticon anticon-close"></i>
            </button>
          </nz-popconfirm>
        </ng-container>
        <nz-popconfirm nzTitle="确定要删除该参数吗？" nzPlacement="top" (nzOnConfirm)="delParam(data.paramCode)">
          <button nz-popconfirm nz-button title="删除" class="btn-danger">
            <i class="anticon anticon-delete"></i>
          </button>
        </nz-popconfirm>
      </td>
    </tr>
  </ng-template>
  </tbody>
</nz-table>
