<div class="deliver-order fadeIn">

  <div class="deliver-box pull-right reject-info">
    <form nz-form class="bg-white">
      <dl class="clearfix bb">
        <dt nz-col nzSpan="6">身份证号：</dt>
        <dd nz-col nzSpan="18">
          <span class="font24 ">{{data.idcard}}</span>
        </dd>
      </dl>
      <dl class="clearfix bb">
        <dt nz-col nzSpan="6">姓名：</dt>
        <dd nz-col nzSpan="18">
          <span class="font24 ">{{data.name}}</span>
        </dd>
      </dl>
      <dl class="clearfix bb" *ngIf="data.endTime">
        <dt nz-col nzSpan="6">有效期：</dt>
        <dd nz-col nzSpan="18">
          <span class="font24">{{data.startTime | date:"yyyy-MM-dd"}}</span>
          <span class="font18">至</span>
          <span class="font24">{{data.endTime | date:"yyyy-MM-dd"}}</span>
        </dd>
      </dl>
      <dl class="clearfix bb" *ngIf="!data.endTime">
        <dt nz-col nzSpan="6">有效期：</dt>
        <dd nz-col nzSpan="18">
          <span class="font24">{{data.startTime | date:"yyyy-MM-dd"}}</span>
          <span class="font18">至</span>
          <span class="font24">长期</span>
        </dd>
      </dl>

      <dl class="bb m0 clearfix item-head p0">
        <dt nz-col nzSpan="6">是否通过：</dt>
        <dd nz-col nzSpan="18">
          <nz-radio-group name="isAllow" style="line-height: 45px" [(ngModel)]="isAgree">
            <label nz-radio [nzValue]="item.key" *ngFor="let item of yesOrNo">{{item.val}}</label>
          </nz-radio-group>
        </dd>
      </dl>
      <ng-container *ngIf="data.state=='AUDIT' && isAgree=='N'">
        <dl class="clearfix bb textArea-row">
          <dt nz-col nzSpan="6">驳回原因：</dt>
          <dd nz-col nzSpan="18">
            <textarea row="6" nz-input style="height: 79px;"></textarea>
          </dd>
        </dl>
        <dl class="clearfix bb clearfix p0 h250">
          <dt nz-col nzSpan="6" class="lh34 h90">快速选择驳回原因：</dt>
          <dd nz-col nzSpan="17" class="reason-unpass font12 h250">
            <nz-checkbox-group [ngModel]="reasons" name="reasonList" (ngModelChange)="imageViewerReady($event)"></nz-checkbox-group>
          </dd>
        </dl>
      </ng-container>
      <div class="panel-footer text-right mt-15">
        <button nz-button title="放弃操作" class="btn-danger">放弃操作</button>
        <button nz-button title="确认提交" class="btn-green">确认提交</button>
      </div>
    </form>
  </div>
  <div style="display: inline-block;">
    <e-ngx-viewer (ready)="imageViewerReady($event)" [model]="'image'" [source]="images" [width]="750" [height]="580"></e-ngx-viewer>
  </div>
</div>



