<!--搜索 start-->
<form nz-form class="bg-white mt-15 mb-15" (submit)="queryPayRecList(1)">
  <div class="search-group">
    <div class="search-group">
      <span class="search-title">项目编码：</span>
      <div class="search-main">
        <input nz-input name="tc" [(ngModel)]="searchParams.projectCode" placeholder="项目编码"/>
      </div>
    </div>
    <span class="search-title">会计科目：</span>
    <div class="search-main">
      <nz-select style="width: 200px;" [(ngModel)]="searchParams.subject" name="subject">
        <nz-option *ngFor="let option of subject" [nzLabel]="option.val" [nzValue]="option.key"></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="search-group">
    <span class="search-title">交易对象：</span>
    <div class="search-main">
      <nz-select style="width: 200px;" [(ngModel)]="searchParams.payCustType" name="userType">
        <nz-option *ngFor="let option of userType" [nzLabel]="option.val" [nzValue]="option.key"></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="search-group">
    <span class="search-title">交易对象编码：</span>
    <div class="search-main">
      <input nz-input name="tc" [(ngModel)]="searchParams.payCustCode" placeholder="交易对象编码"/>
    </div>
  </div>
  <div class="inline-block">
    <button nz-button class="ml-20 mr" [nzType]="'primary'" title="搜索" type="submit">
      <i class="anticon anticon-search"></i><span>搜索</span>
    </button>
    <button nz-button class="mr" title="重置" type="reset" (click)="resetSearch()">
      <i class="anticon anticon-sync"></i><span>重置</span>
    </button>
  </div>
</form>
<!--搜索 end-->

<nz-table #nzTable
          [nzData]="page.voList"
          [nzLoading]="_loading"
          [nzFrontPagination]="false"
          [nzPageSize]="page.pageSize"
          [nzTotal]="page.totalRow"
          [nzPageIndex]="page.curPage"
          (nzPageIndexChange)="queryPayRecList($event)">
  <thead nz-thead>
  <tr>
    <th nz-th class="text-center" nzWidth="5%"><span>序号</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>项目编码</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>金额</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>会计科目</span></th>
    <th nz-th class="text-center" nzWidth="15%"><span>交易对象</span></th>
    <th nz-th class="text-center" nzWidth="5%"><span>交易方式</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>付款方银行</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>付款方账户</span></th>
    <th nz-th class="text-center" nzWidth="10%"><span>创建时间</span></th>
    <th nz-th class="text-center" nzWidth="5%"><span>操作</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <ng-template ngFor let-data [ngForOf]="nzTable.data" let-i="index">
    <tr nz-tbody-tr>
      <td nz-td class="text-center">{{i+1}}</td>
      <td nz-td class="text-center">{{data.projectCode}}</td>
      <td nz-td class="text-center">￥{{data.pay | number}}</td>
      <td nz-td class="text-center">{{data.subjectName }}</td>
      <td nz-td class="text-center">{{data.payCustType | stateName: enums.userType}}-{{data.payCustCode}}</td>
      <td nz-td class="text-center">{{data.payWay | stateName: enums.payWay}}</td>
      <td nz-td class="text-center">{{data.bank}}</td>
      <td nz-td class="text-center">{{data.bacctn+"-"+data.bacct}}</td>
      <td nz-td class="text-center">{{data.createTime }}</td>
      <td nz-td class="text-center w10">
        <button nz-button title="查看详情" class="btn-blue" routerLink="/main/finance/biddingPayRecDetail" [queryParams]="{tc: data.tc}">
          <i class="anticon anticon-search"></i>
        </button>
        <button nz-button title="处理" class="btn-danger" *ngIf="data.state == payRecStateEnum.cr" (click)="auditPayRec(data)">
          <i class="anticon anticon-check-circle-o"></i>
        </button>
        <button nz-button title="已到账" class="btn-danger" *ngIf="data.state == payRecStateEnum.deal" (click)="auditPayRec(data)">
          <i class="anticon anticon-check-circle-o"></i>
        </button>
      </td>
    </tr>
  </ng-template>
  </tbody>
</nz-table>
