<form #addParam="ngForm" (submit)="addParams()">
  <nz-table #nzTable nzBordered nzTitle="添加参数"
            [nzData]="normParamList"
            [nzFooter]="Footer"
            [nzFrontPagination]="false"
            [nzShowPagination]="false">
    <thead nz-thead>
    <tr>
      <th nz-th class="text-center" nzWidth="5%"><span>序号</span></th>
      <th nz-th class="text-center" nzWidth="8%"><span>参数名<i class="color-red">*</i></span></th>
      <th nz-th class="text-center" nzWidth="8%"><span>需求标准值<i class="color-red">*</i></span></th>
      <th nz-th class="text-center" nzWidth="8%"><span>单位</span></th>
      <th nz-th class="text-center" nzWidth="8%"><span>参数说明</span></th>
      <th nz-th class="text-center" nzWidth="8%"><span>参数因子<i class="color-red">*</i></span></th>
      <th nz-th class="text-center" nzWidth="8%"><span>参数溢价因子<i class="color-red">*</i></span></th>
      <th nz-th class="text-center" nzWidth="8%"><span>参数权重<i class="color-red">*</i></span></th>
      <th nz-th class="text-center" nzWidth="8%"><span>可允许最大差值<i class="color-red">*</i></span></th>
      <th nz-th class="text-center" nzWidth="8%"><span>是否强制<i class="color-red">*</i></span></th>
      <th nz-th class="text-center" nzWidth="6%"><span>是否使用<i class="color-red">*</i></span></th>
      <th nz-th class="text-center" nzWidth="6%"><span>是否必填<i class="color-red">*</i></span></th>
      <th nz-th class="text-center" nzWidth="6%"><span>排序<i class="color-red">*</i></span></th>
      <th nz-th class="text-center" nzWidth="6%"><span>操作</span></th>
    </tr>
    </thead>
    <tbody nz-tbody>
    <ng-template ngFor let-data [ngForOf]="nzTable.data" let-i="index">
      <tr nz-tbody-tr>
        <td nz-td class="text-center">{{i+1}}</td>
        <td nz-td class="text-center">
          <input type="text" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="data.paramName" required
                 placeholder="参数名">
        </td>
        <td nz-td class="text-center">
          <input type="number" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="data.standardVal" required
                 placeholder="需求标准值">
        </td>
        <td nz-td class="text-center">
          <input type="text" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="data.unit" placeholder="单位">
        </td>
        <td nz-td class="text-center">
          <input type="text" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="data.paramDesc"
                 placeholder="参数说明">
        </td>
        <td nz-td class="text-center">
          <input type="number" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="data.paramFactor" required
                 placeholder="参数因子,-1/1" title="1 代表参数越大越好；-1代表参数越小越好">
        </td>
        <td nz-td class="text-center">
          <input type="number" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="data.redundancyQualityFactor"
                 required
                 placeholder="参数溢价因子" title="因子越大，溢价能产生的分数越高">
        </td>
        <td nz-td class="text-center">
          <input type="number" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="data.weight" required
                 placeholder="参数权重">
        </td>
        <td nz-td class="text-center">
          <input type="number" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="data.allowDifference"
                 placeholder="可允许最大差值" title="参数差值一旦超过此值，则认为不合格">
        </td>
        <td nz-td class="text-center">
          <nz-switch class="thc" [(ngModel)]="data.isNecessary"
                     nzCheckedChildren="是" nzUnCheckedChildren="否" [ngModelOptions]="{standalone: true}">
          </nz-switch>
        </td>
        <td nz-td class="text-center">
          <nz-switch class="thc" [(ngModel)]="data.isRequired"
                     nzCheckedChildren="是" nzUnCheckedChildren="否" [ngModelOptions]="{standalone: true}">
          </nz-switch>
        </td>
        <td nz-td class="text-center">
          <nz-switch class="thc" [(ngModel)]="data.isUse"
                     nzCheckedChildren="是" nzUnCheckedChildren="否" [ngModelOptions]="{standalone: true}">
          </nz-switch>
        </td>
        <td nz-td class="text-center">
          <input type="number" nz-input [ngModelOptions]="{standalone: true}" [(ngModel)]="data.ord" required
                 placeholder="排序" title="排序序列号">
        </td>
        <td nz-td class="text-center">
          <nz-popconfirm nzTitle="确定要删除该参数吗？" nzPlacement="top" (nzOnConfirm)="delParam(i)">
            <i nz-popconfirm class="anticon anticon-delete color-red cursor" title="删除"></i>
          </nz-popconfirm>
        </td>
      </tr>
    </ng-template>
    </tbody>
    <ng-template #Footer>
      <button nz-button type="button" nzType="default" (click)="addNewParam()" class="btn-green">
        <i class="anticon anticon-plus"></i>添加参数
      </button>
      <div class="text-right fr">
        <button nz-button type="button" nzType="default" (click)="back()">取消</button>
        <button nz-button type="submit" nzType="primary" class="ml" [disabled]="!addParam.valid"
                [nzLoading]="isConfirmLoading">提交
        </button>
      </div>
    </ng-template>
  </nz-table>
</form>
