<div class="mb page-title">
  <h3 class="fl">平台标准</h3>
  <button class="fr m btn-thc" nz-button (click)="addNorm()">
    <i class="anticon anticon-plus"></i><span>添加平台标准</span>
  </button>
</div>
<!--搜索 start-->
<form nz-form class="mt-15 mb-15 pb-20" (submit)="queryNormList()">
  <div class="search-group">
    <span class="search-title">标准名：</span>
    <div class="search-main">
      <input nz-input name="normName"
             [(ngModel)]="query.normName"
             placeholder="标准名">
    </div>
  </div>
  <button nz-button [nzType]="'primary'" type="submit" title="搜索">
    <i class="anticon anticon-search"></i> 搜索
  </button>
</form>
<!--搜索 end-->

<ng-container *ngIf="normList.voList.length > 0">
  <ul nz-row class="data-list pr" nzGutter="24">
    <li nz-col [nzSpan]="6" class="data-item none mb-20" *ngFor="let data of normList.voList;let i=index">
      <nz-card class="w100" [ngClass]="{'checked': curNorm.normCode === data.normCode}"
               [nzActions]="[actionSetting,actionEdit,actionDel,actionEllipsis]">
        <nz-card-meta [nzTitle]="data.normName" [nzDescription]="data.tplDesc"></nz-card-meta>
      </nz-card>
      <ng-template #actionSetting>
        <nz-switch class="thc" [ngModel]="data.state === enumState.showState.show"
                   [ngModelOptions]="{standalone: true}" title="是否启用"
                   nzCheckedChildren="暂停" nzUnCheckedChildren="启用"
                   (ngModelChange)="changeIsEnable(data.normCode, $event)">
        </nz-switch>
      </ng-template>
      <ng-template #actionEdit>
        <i class="anticon anticon-edit" title="修改" (click)="upNorm(data.normName, data.normCode)"></i>
      </ng-template>
      <ng-template #actionDel>
        <nz-popconfirm nzTitle="确定要删除该平台标准吗？" nzPlacement="top" (nzOnConfirm)="deletePlatNorm(data.normCode)">
          <i class="anticon anticon-delete color-red" title="删除" nz-popconfirm></i>
        </nz-popconfirm>
      </ng-template>
      <ng-template #actionEllipsis>
        <i class="anticon anticon-eye-o color-green" title="查看参数"
           [routerLink]="routerLinks.norm.params"
           [queryParams]="{normCode: data.normCode, normName: data.normName}"></i>
      </ng-template>
    </li>
  </ul>
</ng-container>
<ng-container *ngIf="normList.voList.length == 0">
  <div class="ant-table-placeholder"><span class="ng-star-inserted">暂无数据</span></div>
</ng-container>
