<div class="page-title">
  <h3 class="inline-block mr-20">竞价结算处理</h3>
</div>
<nz-tabset>
  <nz-tab nzTitle="待审核" (nzClick)="crList.querySettleList(1)">
    <app-bidding-settle-list #crList [state]="payRecState.cr"></app-bidding-settle-list>
  </nz-tab>
  <nz-tab nzTitle="处理中" (nzClick)="dealList.querySettleList(1)">
    <app-bidding-settle-list #dealList [state]="payRecState.deal"></app-bidding-settle-list>
  </nz-tab>
  <nz-tab nzTitle="已打款" (nzClick)="normalList.querySettleList(1)">
    <app-bidding-settle-list #normalList [state]="payRecState.done"></app-bidding-settle-list>
  </nz-tab>
  <nz-tab nzTitle="已驳回" (nzClick)="rejectList.querySettleList(1)">
    <app-bidding-settle-list #rejectList [state]="payRecState.refuse"></app-bidding-settle-list>
  </nz-tab>
</nz-tabset>
