<button nz-button [nzType]="'danger'" [nzShape]="'circle'" class="page-back" (click)="back()" title="返回">
  <i class="anticon anticon-rollback font20"></i>
</button>
<div class="panel-body">
  <div class="body-title thc bg p">
    <span>交易码：{{settleRec.tc}}</span>
    <span class="ml-20">项目编码：{{settleRec.projectCode}}</span>
    <span class="ml-20" *ngIf="settleRec.bidCode">投标编码：{{settleRec.bidCode}}</span>
  </div>
  <!--企业基本信息 start-->
  <table class="t-items p w100">
    <tr class="t-item clearfix">
      <td class="item-hd" nz-col nzSpan="4">金额：</td>
      <td class="item-bd" nz-col nzSpan="20">{{settleRec.settleMoney}}￥</td>
    </tr>
    <tr class="t-item clearfix">
      <td class="item-hd" nz-col nzSpan="4">会计科目：</td>
      <td class="item-bd" nz-col nzSpan="20">{{settleRec.subjectName}}</td>
    </tr>
    <tr class="t-item clearfix">
      <td class="item-hd" nz-col nzSpan="4">交易对象：</td>
      <td class="item-bd" nz-col nzSpan="20">{{settleRec.payCustType | stateName: enums.userType}}</td>
    </tr>
    <tr class="t-item clearfix">
      <td class="item-hd" nz-col nzSpan="4">交易对象编码：</td>
      <td class="item-bd" nz-col nzSpan="20">{{settleRec.payCustCode}}</td>
    </tr>
    <tr class="t-item clearfix">
      <td class="item-hd" nz-col nzSpan="4">收款人：</td>
      <td class="item-bd" nz-col nzSpan="20">{{settleRec.bacctName || "无"}}</td>
    </tr>
    <tr class="t-item clearfix">
      <td class="item-hd" nz-col nzSpan="4">收款人银行：</td>
      <td class="item-bd" nz-col nzSpan="20">{{settleRec.bank || "无"}}</td>
    </tr>
    <tr class="t-item clearfix">
      <td class="item-hd" nz-col nzSpan="4">收款人银行卡号：</td>
      <td class="item-bd" nz-col nzSpan="20">{{settleRec.acct || "无"}}</td>
    </tr>
    <ng-container *ngIf="settleRec.state != payRecStateEnum.cr">
      <tr class="t-item clearfix">
        <td class="item-hd" nz-col nzSpan="4">交易方式：</td>
        <td class="item-bd" nz-col nzSpan="20">{{settleRec.payWay | stateName: enums.payWay}}</td>
      </tr>
      <tr class="t-item clearfix">
        <td class="item-hd" nz-col nzSpan="4">平台汇款开户行：</td>
        <td class="item-bd" nz-col nzSpan="20">{{settleRec.payBank || "无"}}</td>
      </tr>
      <tr class="t-item clearfix">
        <td class="item-hd" nz-col nzSpan="4">平台汇款账号：</td>
        <td class="item-bd" nz-col nzSpan="20">{{settleRec.payAcct || "无"}}</td>
      </tr>
      <tr class="t-item clearfix">
        <td class="item-hd" nz-col nzSpan="4">平台汇款账户户主：</td>
        <td class="item-bd" nz-col nzSpan="20">{{settleRec.payBacctName || "无"}}</td>
      </tr>
      <tr class="t-item clearfix">
        <td class="item-hd" nz-col nzSpan="4">平台汇款凭证：</td>
        <td class="item-bd" nz-col nzSpan="20">
        <span *ngFor="let pic of settleRec.realUrl">
          <nz-popover [nzTrigger]="'hover'">
            <img [src]="pic | imgSize :'50'" width="50" appImgErr title="点击查看大图" nz-popover>
            <ng-template #nzTemplate>
              <img [src]="pic | imgSize :'200'" appImgErr>
            </ng-template>
          </nz-popover>
        </span>
        </td>
      </tr>
      <tr class="t-item clearfix">
        <td class="item-hd" nz-col nzSpan="4">平台汇款备注：</td>
        <td class="item-bd" nz-col nzSpan="20">{{settleRec.remark || "无"}}</td>
      </tr>
    </ng-container>
    <tr class="t-item clearfix">
      <td class="item-hd" nz-col nzSpan="4">状态：</td>
      <td class="item-bd" nz-col nzSpan="20">{{settleRec.state | stateName: enums.payRecState}}</td>
    </tr>
    <tr class="t-item clearfix">
      <td class="item-hd" nz-col nzSpan="4">申请时间：</td>
      <td class="item-bd" nz-col nzSpan="20">{{settleRec.createTime}}</td>
    </tr>
    <tr class="t-item clearfix">
      <td class="item-hd" nz-col nzSpan="4">处理时间：</td>
      <td class="item-bd" nz-col nzSpan="20">{{settleRec.dealTime || '无'}}</td>
    </tr>
    <tr class="t-item clearfix">
      <td class="item-hd" nz-col nzSpan="4">完成时间：</td>
      <td class="item-bd" nz-col nzSpan="20">{{settleRec.doneTime || '无'}}</td>
    </tr>
  </table>
</div>

